@model IEnumerable<CustOrdersViewModel>

@*non di*@
@*@model IEnumerable<data_access.Entities.CustOrder>*@

@{
    ViewData["Title"] = "Index";
}

<h1>Orders Overview</h1>
<h2 style="color: white">Orders Overview</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Lookup by Customer Phone" title="Type in the Customer's Phone" style="color:white">
<table class="table" id="myTable" style="color: white; ">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Customer)*@
                Customer @Html.DisplayNameFor(model => model.CustID)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate_Timestamp)
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Location)*@
                Location @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate_Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <!--<a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>-->
            </td>
        </tr>
            }
        </tbody>
    </table>


       //Filter the inputs
    //from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_table
    
    <script>
        function myFunction() {

            var input, filter, table, tr, td, i, txtValue;

            input = document.getElementById("myInput");

            filter = input.value.toUpperCase();

            table = document.getElementById("myTable");

            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;

                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
