@model IEnumerable<data_access.Entities.LineItem>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:white;">Line Items Per Order Number</h1>
<h2 style="color:white;">Orders MUST exist before you can edit them.</h2>
<p>
    <a asp-action="Create" >Edit An Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Pname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LineItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LineItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LineItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
